@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: transparent;
}
#root {
  @apply w-screen h-screen;
  background-color: rgba(0, 0, 0, 0.6);
}

.button {
  padding: 5px 10px;
  background: #007cba;
  color: #fff;
  outline: 1px solid #0000;
  text-decoration: none;
  text-shadow: none;
  white-space: nowrap;
  border-radius: 3px;
  margin: 10px;
}

.div.scroll {
  margin:4px, 4px;
  padding:4px;
  background-color: green;
  width: 500px;
  height: 110px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align:justify;
}

/* ::marker {     
  unicode-bidi: isolate;     
  font-variant-numeric: tabular-nums;     
  white-space: pre;     
  text-transform: none;
  transform-origin: 0px 5px 5px;
} */
.chinese {
  font-family: "SimSun";
}

.p {
  page-break-inside: avoid;
}

#root h1 {
  line-height: 2.22222222;
  font-size: 18px;
  text-align: center;
}